* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --div-background: #f6f6f6;
  --font-color: #777;
  --div-padding: 0% 7%;
}
h3 {
  font-weight: 800;
  line-height: 3;
}
body {
  font-family: "Work Sans", sans-serif;
}
/*start heeder*/
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0px;
  width: 85%;
  margin: auto;
}
header img {
  width: 60px;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
}

.icon span {
  margin-bottom: 5px;
  height: 2px;
  background-color: black;
  width: 100%;
}
header .nav-bar .icon :nth-child(2) {
  width: 60% !important;
  transition: 0.3s;
}
.nav-bar:hover .icon span {
  width: 100% !important;
  cursor: pointer;
}
.nav-bar {
  position: relative;
}
.nav-bar  ul ::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
ul {
  background-color: #f6f6f6;
  min-width: 200px;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  margin: 0;
  display: none;
}
.nav-bar:hover ul {
  display: block;
}
.icon:hover  {
  cursor: pointer;;
}
ul li {
  padding: 10px 15px;
  color: #333;
}
ul :not(:last-child) {
  border-bottom: 1px solid #ddd;
}
ul a {
  text-decoration: none;
  transition: 0.3s;
}
ul a:hover {
  padding-left: 25px;
}
/*End header*/
/*start sec-a*/
.sec-a {
  background-image: url(imgs/landing.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-a div {
  width: 300px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
  line-height: 2;
}
.sec-a p {
  line-height: 1.8;
  font-size: 18px;
}
/*End sec-a*/
/*start div-a*/
.div-a {
  background-color: var(--div-background);
  width: 100%;
}
.div-a .container,
.div-b .container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
.div-a div,
.div-b .container div {
  text-align: center;
  width: calc(95% / 3);
  background-color: white;
}
.div-a i {
  color: var(--main-color);
  font-size: 50px;
  line-height: 2;
}
.div-a,
.div-b h3 {
  font-weight: 800;
  line-height: 3;
}
.div-a,
.div-b p {
  line-height: 1.8;
  color: var(--font-color);
}
/*End icons*/
/*start sec-b*/
.special-header h2 {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  text-align: center;
}
.special-header p {
  margin-top: -25px;
  font-size: 20px;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 50px;
}
.sec-b .container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: calc(10% / 3);
}

.div-2 {
  display: grid;
  grid-template-rows: repeat(2, 45%);
  row-gap: calc(10%);
  height: 100%;
}
.div-2 .ll {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 30px;
}
.div-2 i {
  color: var(--main-color);
  margin-right: 20px;
  padding-top: 15px;
}
.ll p {
  line-height: 1.8;
  color: var(--font-color);
}
.div-img,
.div-img2,
.sec-c .container {
  position: relative;
}
.div-img::before {
  content: "";
  width: 80px;
  height: calc(100% + 70px);
  background-color: var(--secondary-color);
  position: absolute;
  top: -35px;
  right: 55px;
  z-index: -1;
}
.sec-b img {
  width: 260px;
  padding: 10px;
  height: 100%;
}
/*End sec-b*/
/*star div-b*/
.div-b {
  background-color: var(--div-background);
}
.div-b .special-header {
  margin-top: 25px;
}
.div-b img {
  width: 100%;
  height: auto;
}
.div-b .container div {
  padding-bottom: 20px;
}
/*end div-b*/
/*start sec-c*/
.sec-c .special-header {
  margin-bottom: 50px;
}
.sec-c .container {
  background-color: white;
  width: 95% !important;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sec-c img {
  width: 250px;
  height: 100%;
  z-index: 1;
  position: relative;
}
.div-pra {
  width: 50%;
}
.sec-c h4 {
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 10px;
}
.sec-c hr {
  color: var(--main-color);
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.sec-c .container p {
  color: var(--font-color);
  line-height: 2;
  margin-top: 25px;
}
.div-img2 {
}
.div-img2::before {
  content: "";
  width: 80px;
  height: calc(90%);
  background-color: var(--main-color);
  position: absolute;
  top: -35px;
  right: -35px;
  z-index: 0;
}
.sec-c .div-img2::after {
  content: "";
  width: 40%;
  height: calc(15%);
  background-color: var(--main-color);
  position: absolute;
  top: 75.3%;
}
/* .sec-c .container {
  position: relative;
} */
.sec-c .container::before {
  content: "";
  width: 80px;
  height: calc(100% + 70px);
  background-color: #f6f6f6;
  position: absolute;
  top: -35px;
  left: 50px;
}

.div-c {
  margin-top: 50px;
  padding-bottom: 70px;
  background-color: #f6f6f6;
  text-align: center;
}
.div-c .special-header {
  margin-bottom: 20px !important;
}
.div-c .container h2 {
  color: var(--secondary-color);
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.div-c .container a {
  display: block;
  color: var(--main-color);
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 15px;
}
footer {
  background-color: var(--secondary-color);
  text-align: center;
}
footer p {
  color: white;
  padding: 25px 0;
}
footer span {
  color: #10cab7 !important;
}

@media (max-width: 1000px) {
  .div-a .container,
  .sec-b .container,
  .div-b .container,
  .sec-c .container {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
  }
  .div-a .container div,
  .sec-b .container div,
  .div-b .container div,
  .sec-c .container div {
    width: 100%;
    margin-bottom: 25px;
  }
  .sec-b .ll {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 0px !important;
  }
  .special-header h2 {
    font-size: 50px;
  }
  .special-header p {
    font-size: 15px;
    margin-top: -15px;
  }
  .sec-c {
    text-align: center;
  }
  .sec-c .div-img2 {
    padding: 40px;
  }
  .sec-c div {
    padding: 10px;
  }
  .sec-b .container .div-img,
  .div-img2::after,
  .div-img2::before,
  .sec-c .container::before {
    display: none;
  }
}
@media (max-width: 1220px) {
  .div-img2::after,
  .div-img2::before,
  .sec-c .container::before,
  .sec-b .div-img::before {
    display: none;
  }
}
